@media (width < 900px) {
  .nav-links {
    display: none;
  }

  header {
    flex-direction: column;
  }

  header .image {
    order: -1;
  }

  .features {
    flex-direction: column;
  }

  .features .card {
    flex: 1 1 100%;
  }

  .pricing {
    flex-direction: column;
  }

  .pricing .card {
    flex: 1 1 100%;
  }

  footer {
    flex-direction: column;
  }

  footer .column {
    flex: 1 1 100%;
  }
}

@media (width < 600px) {
  header .image::before {
    display: none;
  }

  .features {
    flex-direction: column;
  }

  .features .card {
    flex: 1 1 100%;
  }

  .pricing {
    flex-direction: column;
  }

  .pricing .card {
    flex: 1 1 100%;
  }

  footer {
    flex-direction: column;
  }

  footer .column {
    flex: 1 1 100%;
  }
}